body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(#283c86, #45a247);
    background-attachment: fixed;
}

main{
    width: 60%;
    margin: auto;
    text-align: center;
}

.main {
    margin-bottom: 6vh;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0px;
}

input {
    display: block;
    width: 200px;
    height: 30 px;
    border-radius: 4 px;
    border: 1 px solid gray;
    margin: 10px auto;
    padding: 0 4px;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    padding: 10px 20px;
    border-radius: 15 px;
    border: none;
    background-color: #45a247;
    color: white;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    background-color: white;
    color: #45a247;
}

.red {
    color: red;
}

.green {
    color: green;
}